USE [master]
GO
/****** Object:  Database [CarSales]    Script Date: 14.07.2022 17:58:00 ******/
CREATE DATABASE [CarSales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarSales', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CarSales.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarSales_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CarSales_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarSales].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarSales]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_IsimBirlestir]    Script Date: 14.07.2022 17:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_IsimBirlestir](@firstName VARCHAR(50),@lastName VARCHAR(50))
RETURNS VARCHAR(100)
AS
BEGIN
RETURN @firstName + Space(1)+ @lastName
End
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_TaxCalculator]    Script Date: 14.07.2022 17:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[Fn_TaxCalculator](@price MONEY)
Returns MONEY
As
Begin
Declare @sonuc int
Set @sonuc = @price * 0.98
return @sonuc
End
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 14.07.2022 17:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[BirthOfDate] [varchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 14.07.2022 17:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[CarId] [int] NULL,
	[SaleOfDate] [date] NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 14.07.2022 17:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [varchar](50) NULL,
	[ModelName] [varchar](50) NULL,
	[ModelYear] [smallint] NULL,
	[ColorName] [varchar](50) NULL,
	[PurchasePrice] [money] NULL,
	[SalePrice] [money] NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SaleList]    Script Date: 14.07.2022 17:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SaleList]
AS
SELECT dbo.Fn_IsimBirlestir(cu.FirstName,cu.LastName) 'AD SOYAD',
ca.BrandName 'MARKA',
ca.ModelName 'MODEL',
ca.ModelYear 'MODEL YILI',
ca.ColorName 'RENK',
ca.PurchasePrice 'ALIŞ FİYATI',
ca.SalePrice 'SATIŞ FİYATI',
dbo.Fn_TaxCalculator(ca.PurchasePrice) 'VERGİ TOPLAMI'
FROM Sales s
INNER JOIN Customers cu ON cu.Id = s.CustomerId
INNER JOIN Cars ca ON ca.id = s.CarId
GO
/****** Object:  UserDefinedFunction [dbo].[PriceFilter]    Script Date: 14.07.2022 17:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[PriceFilter](@minValue int,@maxValue int)
returns table 
as 
return (Select * From Cars Where SalePrice BETWEEN @minValue and @maxValue)
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([id], [BrandName], [ModelName], [ModelYear], [ColorName], [PurchasePrice], [SalePrice]) VALUES (1, N'Audi', N'R8', 2011, N'Violet', 146150.2100, 289377.2100)
INSERT [dbo].[Cars] ([id], [BrandName], [ModelName], [ModelYear], [ColorName], [PurchasePrice], [SalePrice]) VALUES (2, N'Chevrolet', N'Astro', 1997, N'Blue', 335886.5800, 665054.5800)
INSERT [dbo].[Cars] ([id], [BrandName], [ModelName], [ModelYear], [ColorName], [PurchasePrice], [SalePrice]) VALUES (3, N'Mazda', N'MX-3', 1994, N'Yellow', 29974.4700, 59348.4700)
GO
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [BirthOfDate]) VALUES (1, N'Susette', N'Pimbley', N'15/05/1980')
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [BirthOfDate]) VALUES (2, N'Dean', N'Steinhammer', N'25/05/1983')
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [BirthOfDate]) VALUES (3, N'Francklin', N'Farrow', N'19/12/1944')
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([Id], [CustomerId], [CarId], [SaleOfDate]) VALUES (1, 224, 255, CAST(N'2022-07-14' AS Date))
INSERT [dbo].[Sales] ([Id], [CustomerId], [CarId], [SaleOfDate]) VALUES (2, 990, 959, CAST(N'2022-07-14' AS Date))
INSERT [dbo].[Sales] ([Id], [CustomerId], [CarId], [SaleOfDate]) VALUES (3, 546, 52, CAST(N'2022-07-14' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Sales_SaleOfDate]  DEFAULT (getdate()) FOR [SaleOfDate]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Cars] FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Cars]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Customers]
GO
/****** Object:  StoredProcedure [dbo].[MoneyEarningBrands]    Script Date: 14.07.2022 17:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MoneyEarningBrands]
AS
SELECT BrandName 'Marka',CONCAT(SUM(SalePrice), ' TL') 'Toplam Kazanç' FROM Cars
GROUP BY BrandName 
ORDER BY SUM(SalePrice) DESC

GO
USE [master]
GO
